<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-icon name="home-outline"></ion-icon> StayHub
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <!-- Header -->
    <div class="header">
      <ion-button expand="block" class="btn-add" (click)="onAddProperty()">
        Añadir Propiedad
      </ion-button>
    </div>

    <!-- Property Listings -->
    <div class="listings">
      <!-- Título -->
      <div class="listings-header">
        <h2>Lista de Propiedades</h2>
      </div>

      <!-- Indicador de carga -->
      <ion-spinner *ngIf="isLoading"></ion-spinner>

      <!-- Mensaje si no hay propiedades -->
      <div *ngIf="!isLoading && properties.length === 0" class="no-properties">
        <p>No tienes propiedades registradas.</p>
        <ion-button (click)="onAddProperty()" class="btn-add">
          Añade tu primer propiedad
        </ion-button>
      </div>

      <!-- Lista de propiedades -->
      <div *ngIf="!isLoading && properties.length > 0" class="property-grid">
        <div *ngFor="let property of properties" class="property-card">
          <div class="property-header">
            <h3>{{ property.name }}</h3>
            <p>{{ property.city }}</p>
          </div>
          <div class="property-image">
            <ion-slides pager="true">
              <ion-slide *ngFor="let photo of property.photos">
                <img [src]="photo.url" alt="{{ property.name }}" />
              </ion-slide>
            </ion-slides>
          </div>
          <div class="property-details">
            <p class="price">${{ property.pricePerNight }} / noche</p>
            <div class="actions">
              <ion-button
                fill="outline"
                color="dark"
                class="btn-edit"
                (click)="onEditProperty(property.id)"
              >
                Editar
              </ion-button>
              <ion-button
                fill="outline"
                color="primary"
                class="btn-add-photo"
                (click)="onAddPhoto(property.id)"
              >
                Agregar Foto
              </ion-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
